/*-- scss:defaults --*/
// Base document colors
/* $body-bg: #181818; */
/* $body-color: #ccc; */
/* $link-color: #75AADB; */

// Code blocks
/* $code-block-bg-alpha: -.9; */

$navbar-bg: #003153;
$navbar-fg: #ffffff;
$navbar-hl: #A51C30;
$btn-code-copy-color-active: #A51C30;


$body-color: #000000;
$link-color: #A51C30;
