main = #ffffff;
mainHover = rgba(255, 255, 255, 1);
hover = darken(main, 50%);
mainLight = #ffffff;
sec  = #FFFFFF;
lightGray = #F2F2F2;
texts = #333333;
colorcode = #615576;
blackBase =  #2f2f33;
neotree = #2f2f33;
cut = 37.5rem;

